

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    margin: 0;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 230px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.text-color{
    color: #FD6E0A ;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    margin: 51px;
}

/* Shared Style */
.secodary_bg{
    background-color: #FFF8F3;
}
.dark_2{
    color: #474747;
}
.dark_3{
    color: #757575;
}
.section_title{
    font-size: 35;
    font-weight: bold;
    color: #181818;
}
.section_desc{
    font-size: 18px;
    color:#757575 ;
}
.btn_primaray{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 32px 0 230px;
}
.banner_content{
    max-width: 585px;
}
.banner_greetings{
    font-weight: 600;
    font-size: 45px;
}
.banner_title{
    font-weight: bold;
    font-size: 85px;
}
.banner_desc{
    font-size: 18px;
}
/* Main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About styles */
.about{
    border-radius: 10px;
    padding: 131px 150px;
    text-align: center;
}
.about_items{
    display: flex;
    justify-content: space-around;
}
.item_title{
    font-size: 20px;
    color:#757575 ;
}
.about_border{
    border:2px solid black;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* skills style */
.card{
    display: flex;
    gap:24px;
    /* width: 267px;
    height: 377px; */
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.text_center{
    text-align: center;
    
}